<ion-view title="Add Routing" id="page10">
  <ion-content padding="true" class="has-header" overflow-scroll="false">
    <form id="addRouting-form4" class="list">
      <label class="item item-select" id="addRouting-select1" name="customers">
        <span class="input-label">Customer</span>
        <select  ng-model="customer" ng-change="changedCustomer(customer)" ng-options="item.name for item in customers" >
        </select>
      </label>
      <label class="item text-center" id="current-balance" style="background: #488aff; color: #ffffff; ">
        <span>Prefix</span>
      </label>
      <label ng-click="onClickPrefix(prefix)" ng-repeat="prefix in prefixs" class="item " id="addRouting-input18" name="prefix" >
         <div class="item-icon-right">
           <i class="icon ion-arrow-right-a"></i>
           <span style="color: #488aff; ">{{prefix.prefix}}</span>
         </div>
      </label>
      <!--<ion-toggle toggle-class="toggle-positive" ng-checked="true" id="addRouting-toggle2" name="vendors">Vendor 1</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="addRouting-toggle3">Vendor 2</ion-toggle>-->
    </form>
    <a ui-sref="menu.home()" id="addRouting-button23" class="button button-stable button-block">Submit</a>
  </ion-content>
</ion-view>