<ion-view title="Billing" id="page5">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <a ui-sref="menu.addBilling()" id="billing-button22" class="button button-positive button-block icon-right ion-android-add-circle">Add</a>
    <a id="vendors-button18" class="button button-positive button-block icon-right ion-grid">View</a>
    <a ui-sref="menu.editBilling()" id="billing-button21" class="button button-positive button-block icon-right ion-edit">Edit</a>
  </ion-content>
</ion-view>