<ion-view title="Edit Routing" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="editRouting-form11" class="list">
      <label class="item item-input" id="editRouting-input20">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="editRouting-input21">
        <span class="input-label">Number</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="menu.home()" id="editRouting-button25" class="button button-stable button-block">Save</a>
  </ion-content>
</ion-view>